@use 'variables' as *;

@use 'sass:color';

@media (prefers-color-scheme: dark) {
    body {
        background-color: #{$dark-background-colour};
        color: #ffffff;

        a {
            transition: color 0.25s;
            color: color.mix(
                #ffffff,
                $apollo-theme-colour,
                55%
            )
        }

        a:hover {
            color: color.mix(
                #ffffff,
                $apollo-theme-colour,
                80%
            )
        }
    }
} 
@media (prefers-color-scheme: light) {
    body {
        background-color: #{$light-background-colour};
        color: #000000;

        a {
            transition: color 0.25s;
            color: color.mix(
                #000000,
                $apollo-theme-colour,
                60%
            )
        }

        a:hover {
            color: color.mix(
                #000000,
                $apollo-theme-colour,
                90%
            )
        }
    }
}

body {
    font-family: 'figtree';

    h1 {
        font-weight: 800;
    }

    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    div.content {
        max-width: $page-width;
        margin-inline: auto;
        padding: 1em 2em;
    }
}