@use 'variables' as *;

@media (prefers-color-scheme: dark) {
    body {
        background-color: #{$dark-background-colour};
        color: #ffffff;
    }
} 
@media (prefers-color-scheme: light) {
    body {
        background-color: #{$light-background-colour};
        color: #000000;
    }
}

body {
    font-family: 'figtree';

    h1 {
        font-weight: 800;
    }

    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    div.content {
        max-width: $page-width;
        margin-inline: auto;
        padding: 1em 2em;
    }
}