@use 'variables' as *;

@use 'sass:color';

@media (prefers-color-scheme: dark) {
    body {
        background-color: #{$dark-background-colour};
        color: #ffffff;

        a {
            transition: color 0.25s;
            color: color.mix(
                #ffffff,
                $apollo-theme-colour,
                55%
            )
        }

        a:hover {
            color: color.mix(
                #ffffff,
                $apollo-theme-colour,
                80%
            )
        }

        a.button {
            background-color: color.adjust(
                hsl(240, 10%, 26%),
                $alpha: -0.5,
            );
            color: white;
        }

        a.button:hover {
            background-color: color.adjust(
                hsl(240, 11%, 22%),
                $alpha: -0.5,
            );
        }

        div.container {
            background-color: color.adjust(
                $dark-background-colour,
                $lightness: 4%
            );
            border: 1px solid color.adjust(
                $dark-background-colour,
                $lightness: 10%
            );
        }
    }
} 
@media (prefers-color-scheme: light) {
    body {
        background-color: #{$light-background-colour};
        color: #000000;

        a {
            transition: color 0.25s;
            color: color.mix(
                #000000,
                $apollo-theme-colour,
                60%
            )
        }

        a:hover {
            color: color.mix(
                #000000,
                $apollo-theme-colour,
                90%
            )
        }

        a.button {
            background-color: color.adjust(
                 hsl(240, 4%, 72%),
                $alpha: -0.5,
            );
            color: black;
        }

        a.button:hover {
            background-color: color.adjust(
                 hsl(240, 4%, 67%),
                $alpha: -0.5,
            );
        }

        div.container {
            background-color: color.adjust(
                $light-background-colour,
                $lightness: -5%
            );

            border: 1px solid color.adjust(
                $light-background-colour,
                $lightness: -10%
            );
        }
    }
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'figtree';

    h1 {
        font-weight: 800;
    }

    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    section.main {
        margin-block: 2;

        p {
            font-size: 13pt;
            line-height: 1.5em;

            code {
                font-size: 12pt;
            }
        }
    }

    div.content {
        max-width: $page-width;
        margin-inline: auto;
        padding-inline: 2em;
    }

    div.container {
        border-radius: 24px;
        padding: 1.5em;
        margin-bottom: 1.5em;
        display: flex;
        flex-direction: column;
        gap: 8px;        
    }

    a.button {
        border-radius: 64px;
        padding: 16px 32px;
        transition: 0.2s background-color;
        font-weight: 800;
        text-decoration: none;
    }


    a.button.suggestive {
        background-color: color.adjust(
            $apollo-theme-colour,
            $saturation: -5%,
            $lightness: -5%,
        );
        color: white;
    }

    a.button.suggestive:hover {
        background-color: color.adjust(
            $apollo-theme-colour,
            $saturation: -5%,
            $lightness: -10%,
        );
        color: white;
    }
}