@font-face {
    font-family: 'figtree_italic';
    src: url('/fonts/Figtree-Italic[wght].woff2') format('woff2');
    font-style: italic;
}

@font-face {
    font-family: 'figtree';
    src: url('/fonts/Figtree[wght].woff2') format('woff2');
    font-style: normal;
}