@use 'variables' as *;

@use 'sass:color';

@media (prefers-color-scheme: light) {
    footer {
        background: #{
            color.adjust($light-background-colour, $lightness: -3.75%)
        };
    }
}

@media (prefers-color-scheme: dark) {
    footer {
        background: #{
            color.adjust($dark-background-colour, $lightness: 2%)
        };
    }
}

footer {
    clear: bottom;
    margin-top: 36px;
    padding-block: 12px 24px;

    div#footer-box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 18px;

        h1 {
            font-size: 16pt;
        }

        div#copyright {
            min-width: 150px;
            flex: 1 200px;
            
            img.apollo-logo {
                max-height: 40px;
                margin-top: 20px;
            }
        }

        div#links {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;

            div {
                min-width: 175px;

                ul.link-list {
                    list-style: none;
                    padding: 0;

                    li {
                        padding-block: 0.2em;
                    }
                    
                    a{  
                        text-decoration: none;
                    }
                }
            }
        }
    }
}