@use 'variables' as *;

@use 'sass:color';

@media (prefers-color-scheme: dark) {
    a.header-link {
        color: white;
    }

    a.header-link:hover {
        color: color.adjust(
            $apollo-theme-colour,
            $saturation: -30%,
            $lightness: 30%,
        );
    }
}

@media (prefers-color-scheme: light) {
    a.header-link {
        color: black;
    }

    a.header-link:hover {
        color: color.adjust(
            $apollo-theme-colour,
            $saturation: -30%,
            $lightness: -20%,
        )
    }
}

@media (max-width: 424px) {
    header {
        nav {
            justify-content: center;
            flex-direction: column;
            text-align: center;

            div.links, a#header-home-link {
                justify-content: center;
            }
        }
    }
}

@media (min-width: 425px) {
    nav, div.links {
        justify-content: space-between;

        div.links {
            justify-content: flex-end;
        }
    }
}


header {
    margin-block: 1em;

    nav {
        gap: 8px;
    }

    nav, div.links {
        display: flex;
        vertical-align: middle;

        div.links {
            flex-wrap: wrap;
        }

        a#header-home-link {
            display: flex;

            .apollo-logo {
                max-height: 32px;
                transition: filter 0.15s;
            }
        }

        a.header-link {
            text-decoration: none;
            padding: 8px;
            margin-block: auto;
            font-weight: 600;
            transition: color 0.15s;
        }
    }
}