@use 'variables' as *;

header {
    nav, div.links {
        justify-content: space-between;
        display: flex;
        vertical-align: middle;

        a#header-home-link {
            display: flex;

            .apollo-logo {
                max-height: 32px;
            }
        }

        a.header-link {
            text-decoration: none;
            padding: 8px;
            margin-block: auto;
            font-weight: 600;
        }
    }
}