@use 'variables' as *;

@use 'sass:color';

$landing-screenshot-shadow: 0px 0px 6px min(0.625vw, 4px);


@media (prefers-color-scheme: light) {
    body {
        div#welcome {
            background: linear-gradient(
                180deg,
                $light-background-colour,
                hsl(270, 39%, 69%) 100%
            );

            img#landing-screenshot {
                box-shadow: $landing-screenshot-shadow hsla(0, 0, 15, 0.55);
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    body {
        div#welcome {
            background: linear-gradient(
                180deg,
                $dark-background-colour,
                hsl(270, 26%, 18%) 100%
            );

            img#landing-screenshot {
                box-shadow: $landing-screenshot-shadow hsla(0, 0, 0, 0.4);
            }
        }
    }
}

body {
    div.index-section {
        div.content {
            padding-block: 2em;
        }

        p {
            font-size: 13pt;
            line-height: 1.5em;
        }
    }

    div#welcome {
        min-height: calc(100vh - 80px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        p {
            margin-block: 0;
        }

        div.content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            gap: 2em;
        }

        div#landing-start {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            gap: 1.5em;
        }

        img#welcome-logo {
            max-height: 80px;
        }

        div#landing-buttons {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-block: 0;
            gap: 16px;
        }

        img#landing-screenshot {
            width: 90%;
            max-width: 750px;
            border-radius: min(calc(2.5vw), 24px);
            border: min(calc(2vw), 18px) solid hsl(280, 0, 8);
            margin-inline: auto;
        }
    }
}