<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock title %} | Apollo</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <div id="top">

    <header class="header">
      <div class="content">
        <nav>
          <a>Apollo</a>

          <div class="links">
            <a href="/download/">Download</a>
            <a href="https://docs.getapollo.dev/">Documentation</a>
          </div>
        </nav>
      </div>
    </header>

    <section class="section">
      <div class="content">
        {% block content %} {% endblock content %}
      </div>
    </section>

  </div>

  <footer>
    <div class="content">
      <div id="footer-box">
        <div id="copyright">
          <p>© 2026 Apollo Contributors</p>
          <p>Apollo is made by humans, for humans</p>
        </div>

        <div id="links">
          <div>
            <h1>Apollo</h1>
            
            <ul class="link-list">
              <a href="/"><li>Homepage</li></a>
              <a href="/downloads"><li>Downloads</li></a>
              <a href="https://docs.getapollo.dev"><li>Documentation</li></a>
              <a href="https://docs.getapollo.dev/posts"><li>Blog</li></a>
            </ul>
          </div>

          <div>
            <h1>Community</h1>

            <ul class="link-list">
              <a href="https://discord.gg/UkDX3kXCKf"><li>Discord</li></a>
              <a href="https://bsky.app/profile/getapollo.dev"><li>Bluesky</li></a>
              <a href="https://github.com/apollo-linux/"><li>GitHub</li></a>
              <a href="https://docs.getapollo.dev/docs/about/code-of-conduct/"><li>Code of Conduct</li></a>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>