<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>MyBlog</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <div id="top">

    <header class="header">
      <div class="content">
        <nav>
          <a>Apollo</a>

          <div class="links">
            <a href="/download/">Download</a>
            <a href="https://docs.getapollo.dev/">Documentation</a>
          </div>
        </nav>
      </div>
    </header>

    <section class="section">
      <div class="content">
        {% block content %} {% endblock content %}
      </div>
    </section>

  </div>

  <footer>
    <div class="content">
      <p>© 2026 Apollo Contributors</p>
      <p>Apollo is made by humans, for humans</p>
    </div>
  </footer>
</body>

</html>