<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>MyBlog</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <header class="header">
    <nav>
      <a>Apollo</a>

      <div class="links">
        <a href="/download/">Download</a>
        <a href="https://docs.getapollo.dev/">Documentation</a>
      </div>
    </nav>
  </header>

  <section class="section">
    <div class="container">
      {% block content %} {% endblock content %}
    </div>
  </section>

  <footer>
    <p>© 2026 Apollo Contributors</p>
    <p>Apollo is made by humans, for humans</p>
  </footer>
</body>

</html>